{% extends '::base.html.twig' %}

{% block title 'Leaderboard '%}

{% block body %}
    <div id="outer">
        <div class="leaderboard">
            {% for player in players %}
                <div class="player">
                    <span class="name">{{ player.name }}</span>
                    <span class="score">{{ player.points }}</span>
                </div>
            {% endfor %}
        </div>
        {#
        <div class="details">
            <div class="name">Carl Friderich Gauss</div>
            <input type="button" class="inc" value="Give 5 points"/>
        </div>
        #}
        <div class="none">Click a player to select</div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        $(document).on('click', 'div.player', function(e){
            $(e.target).closest('.leaderboard').find('.player').removeClass('selected');
            $(e.target).closest('.player').addClass('selected');
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false output="css/primary.css"
        '@WevadChallengeLeaderboardBundle/Resources/public/css/main.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
